@font-face{
    font-family:'Poppins-SemiBold' ;
    src: url(../assets/fonts/Poppins-SemiBold.ttf) format('truetype');
    font-style: normal;
}

@font-face{
    font-family:'Poppins-Medium' ;
    src: url(../assets/fonts/Poppins-Medium.ttf) format('truetype');
    font-style: normal;
}

@font-face{
    font-family:'Muli-bold' ;
    src: url(../assets/fonts/Muli-Bold.woff) format('truetype');
    font-style: normal;
}

@font-face{
    font-family:'Muli-ExtraBold' ;
    src: url(../assets/fonts/Muli-ExtraBold.woff) format('truetype');
    font-style: normal;
}

@font-face{
    font-family:'Muli-Italic' ;
    src: url(../assets/fonts/Muli-Italic.ttf) format('truetype');
    font-style: normal;
}

@font-face{
    font-family:'Muli' ;
    src: url(../assets/fonts/Muli.ttf) format('truetype');
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    font-family:'Muli-Regular' sans-serif ;
}

a{
    text-decoration: none;
}
/* header */
.header{
    width: 1920px;
    height: 1080px;
    background-image: url(../assets/images/Header/header-bg-img.jpg);
    background-repeat: no-repeat;
    background-position: center;

}

.header__top{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.header__menu{
    width: 540px;
}

.menu__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-family: Muli-Bold;
    font-size: 16px;
    line-height: 2.5;
    letter-spacing: 0.32px;
    text-align: left;
    text-transform: uppercase;
    
}

.menu__link{
    color: #ffffff;
}

.header__personal{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.personal__list{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.social__list{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.header__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__btn{
    width: 280px;
    height: 70px;
    padding: 25px 39px 23px 38px;
    border-radius: 35px;
    background-color: #0aa566;
    font-family: Muli;
    font-size: 24px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.48px;
    text-align: left;
    color: #ffffff;

    
}

.btn{
    height: 60px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.title{
    font-family: Muli;
    font-size: 50px;
    font-weight: 800;
    line-height: 0.8;
    letter-spacing: -1px;
    color: #f7ae3b;
}

.text{
    font-family: Muli-Regular;
    font-size: 18px;
    color:#1e1e1e;
}
/* smoothies */
.smoothies__title{
    text-align: center;
}

.smoothies__text{
    width: 920px;
    text-align: center;
}

/* about */
.about{
    max-width: 1920px;
    width: 100%;
    background-image:url(../assets/images/about/Holder.jpg);
    height: 800px;
    display: flex;
    flex-direction: row;
}
.container{
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
    
}

.products{
    max-width: 1920px;
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: space-between;
    
    
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 129px 0px 97px;
}

.product__сhocolate{
    background-image: url(../assets/images/products/Chocolate.png);
    

}

.product_vegan{
    background-image: url(../assets/images/products/HolderVegan.png);
}

.product__Lemon{
    background-image: url(../assets/images/products/HolderLemon.png);
}

.product__Turmeric{
    background-image: url(../assets/images/products/HolderTurmeric.png);
}

.product__caption{
    font-size: 24px;
    font-family: Muli-Bold;
    line-height: 22px;
    color:#ffffff;
    padding-top: 35px;
}

.product__volume{
    font-size: 21px;
    font-family: Muli-Italic;
    line-height: 32px;
    color:#ffffff;
    padding-bottom: 66px;
    padding-top: 18px;

}

.product__btn{
    font-family:'Muli-ExtraBold' ;
    width: 200px;
    height: 60px;
    padding: 22px 0px 18px;
    border-radius: 30px;
    border: solid 2px #ffffff;
    background-color: transparent;
    color:#ffffff;

}

/* Header */


/* Smoothies */


/* About */


/* Products */


/* Story */


/* Testimonials */


/* Blog */


/* Instagram */


/* Footer */



/* Здесь будут медиа запросы */