//main: ./../main.less

.instagram{
    display: flex;
    flex-direction: column;
    align-items:center;
    
}

.instagram__link{
    font-family: Muli;
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 1.67;
    letter-spacing: -0.48px;
    text-align: left;
    color: #0aa566;
    margin-bottom: 50px;
    position: relative;
}

.instagram__link::before{
    content: url(../assets/images/instagram/instagramIcon1.png);
    position: absolute;
    left:-30px;
    top:2px;
}
.instagram-content{
    display: flex;
    width: 100%;
    column-gap: 2px;
}

.instagram__item{
    position: relative;
    width: 20%;
}

.instagramm_img{
    width: 100%;
}

.instagram__item::after{
    content: url(../assets/images/instagram/instagramIcon_.png);
    position: absolute;
    right: 22px;
    bottom: 20px;
}

@media screen and (max-width: 768px) {
    
    .instagram-content{
        flex-wrap: wrap;
        overflow: scroll;
        height: 630px;
    }

    .instagram__item{
        width: 100%;
    }

    .instagram__link{
        font-size: 4.4rem;
    }
        
}

@media screen and (max-width: 320px){
    .instagram__link{
        font-size: 3.6rem;
        margin-bottom: 20px;
        text-align: center;
    }

    .instagram__link::before{
        left: 4%;
        top: -28px;
}

}
