.blog{
    height: 798px;
}

.blog__title{
    margin: 98px 0px 60px;
}

.blog__container{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.blog__subtitle{
    width: 539px;
    font-family: Muli;
    font-size: 3rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.6px;
    text-align: left;
    color: #f2612d;
    margin: 70px 0px 20px 60px;
}   

.blog__subtitle::before{
    content: "";
    display: block;
    width: 687px;
    height: 12px;
    background-color: #f7ae3b;
    margin:0px 0px 50px -60px;
}
.blog__content{
    display: flex;
    justify-content: space-around;
}

.blog__text{
    width: 498px;
    line-height: 1.94;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
    margin-left: 126px;
}

.blog__bold-text{
    font-weight: 800;
    font-style: italic;
    margin-right: 14px;
}

.blog__date{
    width: 94px;
    font-family: Muli;
    font-size: 1.6rem;
    line-height: 2.19;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
    margin:0px 0px 50px 60px;
}
