//out:./main.css, compress: true, sourseMap: true

@font-face{
    font-family:'Poppins-SemiBold' ;
    src: url(../assets/fonts/Poppins-SemiBold.ttf) format('truetype');
    font-style: normal;
}

@font-face{
    font-family:'Poppins-Medium' ;
    src: url(../assets/fonts/Poppins-Medium.ttf) format('truetype');
    font-style: normal;
}

@font-face{
    font-family:'Muli-bold' ;
    src: url(../assets/fonts/Muli-Bold.woff) format('truetype');
    font-style: normal;
}

@font-face{
    font-family:'Muli-ExtraBold' ;
    src: url(../assets/fonts/Muli-ExtraBold.woff) format('truetype');
    font-style: normal;
}

@font-face{
    font-family:'Muli-Italic' ;
    src: url(../assets/fonts/Muli-Italic.ttf) format('truetype');
    font-style: normal;
}

@font-face{
    font-family:'Muli' ;
    src: url(../assets/fonts/Muli.ttf) format('truetype');
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    margin: 0 auto;
    font-family:'Muli-Regular' sans-serif ;
    font-size: 10px;
}

a{
    text-decoration: none;
}
@import "./blocks/btn.less";
@import "./blocks/title.less";
@import "./blocks/text.less";
@import "./blocks/_header.less";
@import "./blocks/smoothies.less";
@import "./blocks/about.less";
@import "./blocks/products.less";
@import "./blocks/story.less";
@import "./blocks/testimonials.less";
@import "./blocks/blog.less";
@import "./blocks/instagrsmm.less";
@import "./blocks/footer.less";
